//BUTTONS

//mixins
@mixin button($bg, $color, $border:null, $hover:null) {
  background-color: $bg;
  color: $color;
  border-color: $border;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;

  @if $border != null {
    border: 2px solid $border;
  }

  @if $hover != null {
    transition: background-color .3s;
    &:hover {
      background-color: $hover;
    }
  }
}


.btn__default {
  padding: 15px;
}

//general classes
.btn__transparent--white {
  @include button(transparent, $white, $white);
}

.btn__transparent--grey {
  @include button(transparent, $text-grey-light, $text-grey-light, rgba(0, 0, 0, .1));
}

.btn__green--white {
  @include button($green-light, $white, null, $green-light--hover);
  @extend .btn__default;
  line-height: 1.2;
}



.navbar-btn {
  margin-top: 38px;
  margin-bottom: 38px;
  padding: 15px 13px;
  font-size: $font-18;
  line-height: 1;

  @media screen and ( max-width: 767px ) {
    padding: 12px 17px;
    line-height: 1.23;
  }
}
