//GRID

.posts-grid {
  background-color: $bg-light;
}

.posts-grid--large {
  @extend .posts-grid;
  padding-top: 80px;
  padding-bottom: 100px;
}

.posts-grid--related {
  @extend .posts-grid;

  .posts-grid__header {
    padding: 55px 0;
  }

  h2 {
    margin: 0;
    color: $text-grey-dark;
  }
}

.grid.row {

}

.post-item {
  font-size: inherit;
  margin-bottom: 30px;

  &-content {
    background-color: $white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
  }


  &.small {
    .post-item-content {
      height: 360px;
    }
    .post-item-img {
      height: 220px;
    }
  }

  &.half {
    .post-item-content {
      height: 475px;
    }
    .post-item-img {
      height: 340px;
    }
  }

  &.big {
    .post-item-content {
      height: 750px;
    }

    .post-item-img {
      height: 455px;
    }
    .post-copy-header {
      font-weight: 400;
      font-size: $font-30;
    }
  }
}


.post-item-img {
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-item-meta, .post-item-copy {
  padding-left: 20px;
  padding-right: 20px;
}

.post-item-meta {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  color: $text-grey-light;
  p {
    font-size: $font-15;
  }
}

.post-item-copy {
  padding-bottom: 15px;
}

.post-copy-header {
  margin-top: 0;
  font-weight: 700;
  color: $text-grey-dark;
  font-size: $font-20;
  max-height: 2.3em;
  overflow: hidden;
}

.post-copy-desc {
  color: $text-grey;
  max-height: 7.2em;
  overflow: hidden;
}

.post-item-more {
  color: $text-green;
  font-size: $font-18;
  font-weight: 700;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
