//PAGINATION
.posts-pagination {
  text-align: center;
  color: $text-green;
  font-size: $font-18;
  svg {
    fill: $text-green;
    display: inline-block;
    vertical-align: middle;
  }
}

.pag-nav, .pag-numbers {
  display: inline-block;
  vertical-align: baseline;
}


.pag-nav {
  padding: 0 30px;
  &.prev {
    svg {
      transform: rotate(180deg);
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media screen and ( max-width: 480px ) {
    padding: 0 10px;
  }
}

.pag-numbers {

}

.pag-number {
  padding-left: 5px;
  padding-right: 5px;

  &.current {
    color: $text-grey-light;
  }
}
