//BASE

html {
  font-size: 17px;

  @media screen and ( max-width: 480px ) {
    font-size: 12px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  outline: none;
}

:focus {
  outline: none;
}


.container-fluid {
  width: 100%;
  max-width: 1640px;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and ( min-width: 1262px) and ( max-width: 1640px ) {
    max-width: 1262px;
    padding-left: 36px;
    padding-right: 36px
  }

  @media screen and ( max-width: 1261px ) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1024px;
  }

  @media screen and ( max-width: 1023px ) {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 768px;
  }

  @media screen and ( max-width: 767px ) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: none;
  }
}

.container-small {
  max-width: 700px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
