//VARS


//Colors
$black: #000000;
$white: #ffffff;

$green-light: #49b266;
$green-light--hover: #3a8e51;


$bg-footer-light: #dbe0e1;
$bg-footer-dark: #202020;

$bg-light: #F8F8F8;

$bg-overflay: rgba(32, 32, 32, 0.2);


$text-green: #48B266;
$text-grey: #787878;
$text-grey-dark: #4A4A4A;
$text-grey-light: #AAAAAA;


//Fonts
$font-15: 0.882rem;
$font-17: 1rem;
$font-18: 1.059rem;
$font-20: 1.176rem;
$font-22: 1.294rem;
$font-30: 1.764rem;
$font-54: 3.176rem;
