//single

.single-meta {
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-grey-light;
  font-size: $font-22;

}

.single-meta-author {
  color: $text-green;
  font-weight: 700;

  &:hover, &:focus {
    color: $text-green;
  }

  img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    padding-right: 10px;
  }
  span {

  }
}


.single-content {
  margin-bottom: 75px;
  p {
    text-align: justify;
    line-height: 1.6;
    color: $text-grey;
    margin-bottom: 25px;
  }
}

.single-contact {
  text-align: center;
  padding-bottom: 65px;
}

.single-contact__item {
  display: inline-block;
  font-weight: 700;
  padding-left: 2px;
  padding-right: 2px;
  color: $text-grey;
  font-size: $font-18;

  a, a:hover, a:focus {
    color: $text-green;
  }
}
