//FOOTER

@mixin footer__section($bg, $color, $padding-section, $padding-item:null) {
  background-color: $bg;
  color: $color;
  padding: $padding-section;

  ul {
    margin-bottom: 0;
  }
  li {
    padding: $padding-item;
  }
}



.footer {

}

.footer__title {
  font-size: 18px; //$font-18;
  margin-top: 0;
  margin-bottom: 33px;
  line-height: 1.2;
}

.footer__row--contact {
  @include footer__section($white, $white, 80px 0);
  a {
    font-size: 18px; //$font-18;
  }

  @media screen and ( max-width: 1023px ) {
    padding: 40px 0;
  }

  @media screen and ( max-width: 767px ) {

    a {
      max-width: 365px;
      width: 100%;
    }
  }
}

.footer__row--partners {
  @include footer__section($bg-footer-light, $text-grey, 43px 0, 0 16px 0 21px);

  @media screen and ( max-width: 767px ) {
    padding-top: 28px;
    .footer__partners-item:last-of-type {
      margin-top: 28px;
    }
  }
}

.footer__row--social {
  @include footer__section($bg-footer-dark, $white, 40px 0, 0 16px 0 21px);


  .footer__title {
    margin-top: 3px;
  }

  a {
    width: 56px;
    height: 56px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  i {
    color: $bg-footer-dark;
    font-size: 27px;
  }

  @media screen and ( max-width: 767px ) {
    padding-top: 25px;

    li {
      padding: 0 5px 0 10px;
    }
  }
}

.footer__row--menu {
  @include footer__section($black, $white, 23px 0, 0 6px 0 10px);
  font-weight: 700;

  .footer__menu-link {
    font-size: 18px; //$font-18;
  }
}
