//HEADER
body.nav-light {
  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .navbar-brand {
    background-image: url('/assets/images/logo/skillue-light.svg');
  }
  .navbar-text {
    color: $white;
  }
  .navbar-btn {
    @extend .btn__transparent--white;
  }
}

body.nav-dark {
  .navbar-btn {
    @extend .btn__transparent--grey;
  }
}

.header {
  padding-left: 0;
  padding-right: 0;

  .navbar {
    .navbar-brand {
      margin-left: 0;
    }
    .navbar-right {
      margin-right: 0;
    }
  }

  .navbar-text {
    font-size: $font-18;
    margin-right: 24px;
    line-height: 1;
  }

  @media screen and ( min-width: 1262px ) and ( max-width: 1640px ) {
  }
  @media screen and ( max-width: 1262px ) {
  }

  @media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
  }

  @media screen and ( max-width: 767px ) {
    .navbar-text {
      width: 50px;
      font-size: 14px;
      text-align: center;
      margin-top: 43px;
      margin-right: 10px;
      margin-left: 0;
      line-height: 1.23;
    }
  }
}


.navbar-brand {
  width: 180px;
  height: 100%;
  background-image: url('/assets/images/logo/skillue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;

  @media screen and ( max-width: 767px ) {
    padding-top: 43px;
    width: 120px;
  }
}
