// HEADERS


h1 {
  font-size: $font-54;
  font-weight: 700;
  padding-bottom: 40px;
}



.section-header {
  h1 {
    color: $text-grey-dark;
  }

  img {
    margin-bottom: 65px;
    display: inline-block;
    width: 330px;
    max-width: 100%;
    height: auto;
  }
}


.section-header--background {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $white;
  position: relative;
  min-height: 60vh; //490px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-overflay;
  }

  h1 {
    color: $white;
    position: relative;
    padding-top: 220px;
    z-index: 1;
    margin: auto;
  }

  @media screen and ( min-width: 1262px ) {
    h1 {
      padding-top: 35vh;
      width: 70%;
    }
  }
}
